<% extend('../layout') %>

<h1><%= title %></h1>
<ul>
    <% for(var i=0; i<articles.length; i++) {%>
  <li>
    <span><%= articles[i].title %></span>
    <a href="/articles/<%= articles[i]._id %>/deit">Edit</a>
    <a href="/articles/<%= articles[i]._id %>/delete">Delete</a>
    <br/>
    <span><%= articles[i].body %></span>
  </li>
    <% } %>
</ul>